<%= form_tag check_ingredients_recipes_path, method: :get, class: "mb-20" do %>
  <div data-controller="dropdown">
    <%= label_tag :ingredients, "Ingredients", class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="relative mt-2">
      <button type="button" data-action="click->dropdown#toggle click@window->dropdown#hide" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
        <span class="block truncate">Select the ingredients you have</span>
        <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
          </svg>
        </span>
      </button>

      <div
        data-dropdown-target="menu"
        data-controller="searchable-dropdown"
        data-searchable-dropdown-url-value="<%= ingredients_path %>"
        data-searchable-dropdown-attribute-value="name"
        class="hidden absolute p-6 z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
        <input
          type="text"
          name="ingredient_name"
          data-action="searchable-dropdown#debouncedChange"
          data-searchable-dropdown-target="search"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Mozzarella">  
        
          <button
            data-searchable-dropdown-target="reset"
            data-action="searchable-dropdown#resetSelection"
            class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold w-full py-1 px-4 mb-6 mt-2 rounded inline-flex items-center">
            <span>Reset Ingredients</span>
            <svg class="fill-current w-4 h-4 mr-2 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path xmlns="http://www.w3.org/2000/svg" d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z" fill="#0F0F0F"/></svg>
          </button>

        <div class="space-y-3" id="ingredient_options">
          <% @ingredients.each do |ingredient| %>
            <%= render "recipes/ingredient_option", ingredient: ingredient, selected_ingredients: selected_ingredients, checked: ingredient.id.to_s.in?(selected_ingredients) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= submit_tag "Apply changes", class: "bg-yellow-500 hover:bg-yellow-400 text-gray-800 font-bold w-full py-1 px-4 mt-2 rounded items-center" %>
<% end %>