<!DOCTYPE html>
<html>
  <head>
    <title>PennylaneAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-yellow-50 bg-opacity-50">
    <%= render 'layouts/header' %>
    <main class="container mx-auto mt-10 px-5 flex w-full">
      <%= yield %>
    </main>
  </body>
</html>
